a:hover,
a:focus {
    color:#404BBF;
}

button {
    background-color: #4D5AE5;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/**/

.contact-info:hover,
.contact-info:focus {
    color: #404BBF;
}

body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
}