body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
}

a {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.48px;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #404BBF;
}

button {
    background-color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.64px;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

.contact-info:hover,
.contact-info:focus {
    color: #404BBF;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: #2E2F42;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2E2F42;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}