body {
    font-family: Roboto, sans-serif;
    color: #434455;
}

ul {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.logo-studio {
    color: #2E2F42;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

address {
    font-style: normal;
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact-info:hover,
.contact-info:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    text-align: center;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
}

.hero-button {
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.team {
    background-color: #f4f4fd;
}

.team-card {
    background-color: #fff;
}

footer {
    background-color: #2E2F42;
}

footer .logo-studio,
footer .footer-text {
    color: #F4F4FD;
}